<div class="container-items">
  <mat-accordion [multi]="multi" >

    <mat-expansion-panel *ngFor="let item of items" >


      <mat-expansion-panel-header>
        <mat-panel-title> 
          <p class="panel-title" [class.is-active]="isActiveUrl(item.keyword)" >
            {{item.title}}
          </p>
        </mat-panel-title>
      </mat-expansion-panel-header>


      <mat-list>
        <mat-divider></mat-divider>

        <div class="item-list" *ngFor="let opt of item.opts" [class.hightlight-item]="isCurrentUrl(opt.url)" (click)="redirectTo(opt.url)" >
          <mat-list-item>
            <p class="list-title">
              {{opt.title}}
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>

      </mat-list>


    </mat-expansion-panel>


  </mat-accordion>
</div>
