<div class="container-product-register">

  <mat-card class="card-register-form">

    <app-title-bar [title]="'Registrar Producto'"></app-title-bar>

    <div class="m-c-register-content" >


        <form class="form-product-register" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div>
          <label>
            Ingresa el código de barras
            <input type="text" formControlName="barCode" autofocus>
          </label>
        </div>

        <div>
          <label>
            Ingresa el nuevo Sku:
            <input type="text" formControlName="sku" >
          </label>
        </div>
        
        <div>
          <label>
            Ingresa la descripción:
            <input type="text" formControlName="description" >
          </label>
        </div>

        <div>
          <label>
            Ingresa el precio costo:
            <input type="number" formControlName="costPrice" >
          </label>
        </div>

        <div>
          <label>
            Ingresa el precio para la venta:
            <input type="number" formControlName="salePrice" >
          </label>
        </div>
    

        <div class="m-c-btn-save" >
          <button type="submit" mat-raised-button color="warn">
            Guardar
          </button>
        </div>
  
  
      </form>


    </div>

  </mat-card>

</div>