.card {
  max-width: 720px;
  height: 720px;
}

.container-search-product {
  width: 100%;
  height: calc(100% - 45px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  box-sizing: border-box;
}


.container-title {
  width: 100%;
  height: 45px;
}

.form-search {
  width: 100%;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px 15px 15px 15px;
  background: #eaecee;
  border: 1px solid rgba(0, 0, 0, .3);
  box-sizing: border-box;
  max-width: 600px;
  box-sizing: border-box;
}


.form-search label {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 28px;
  box-sizing: border-box;
  padding-top: 15px;
}

.form-search label input {
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, .3);
  margin: 10px auto;
  outline: none;
  padding: 5px 20px;
  font-size: 28px;
  margin: 20px 0;
}

.form-search label input:focus {
  border-color: #1c97d4;
  border-width: 2px;
}

.form-search button {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  max-width: 450px;
  font-size: 22px;
}


.container-details {
  width: 100%;
  padding: 5px 15px 15px 15px;
  background: #eaecee;
  border: 1px solid rgba(0, 0, 0, .3);
  box-sizing: border-box;
  max-width: 600px;
  height: calc(100% - 230px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}


.container-existence {
  border: 2px solid #f44336;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 30px 85px;
  align-items: center;
  width: 100%;
  max-width: 360px;
}

.container-existence h1 {
  letter-spacing: 0.3px;
  margin: 0;
  font-size: 40px;
  color: #1d79af;
}

.container-existence span {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #f44336;
  background: #f44;
  font-weight: 500;
  color: white;
}



@media (max-height: 790px) {
  .app-container.center {
    display: block !important;
  }

  .card {
    margin: 5px auto;
  }
}

@media (max-width: 460px) {
  .form-search label {
    font-size: 24px;
    font-weight: 500;
  }

  .form-search label input {
    font-size: 22px;
  }
}
