.toolbar {
  background: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
  width: 100%;
  height: 56px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
  justify-content: space-between;
}


.icon-logo {
  height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.title {
  color: white;
  margin: 0;
  margin-left: 15px;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}

.icon-user {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.icon-menu {
  width: 48px;
  height: 48px;
}