.container-product-register {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

}

.card-register-form {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 720px;
  max-height: 720px;
}

.m-c-register-content {
  height: calc(100% - 45px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-product-register {
  background: #eaecee;
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 30px 20px;
}

.form-product-register div{
  width: 100%;
  margin: 15px 0;
}

.form-product-register div label{
  width: 100%;
  padding-left: 10px;
  font-weight: 500;
  color: rgba(0, 0, 0, .6)
}

.form-product-register div label input{
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  border: none;
  border-radius: 50px;
  padding: 3px 10px 0 10px;
  border: 1px solid rgba(0,0,0,.2);
  font-size: 16px;
  outline: none;
  margin-top: 5px;
  padding-left: 20px;
}

.m-c-btn-save {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 30px 0 0 0 !important;
}

.m-c-btn-save button {
  width: 180px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 480px) {
  .card-register-form{
    width: 96%;
    height: 98%;
    margin: 1% auto;
    box-sizing: border-box;
  }
}

@media (max-height: 720px) {

  .form-product-register{
    margin-bottom: 0;
  }
}


@media (min-width: 1240px) {
  .card-register-form{
    height: 720px;
    width: 640px;
  }

  .form-product-register {
    padding: 50px 30px;
  }
}