<div class="app-container">

  <div class="container-sale-register">
    <mat-card class="card-sale-reg">
      <div class="container-card-el">


        <app-title-bar [title]="'Registrar Venta'"></app-title-bar>

        <div class="m-c-clients-detail">

          <label>
            Cliente: 
            <input type="text" value="Cliente genérico" placeholder="Cliente genérico" readonly>
          </label>
        </div>



        <div class="m-c-table-products">

          <div class="m-c-table">
            <table mat-table [dataSource]="dataSource">
  
              <!-- Position Column -->
              <ng-container matColumnDef="sku">
                <th mat-header-cell *matHeaderCellDef> Sku </th>
                <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
              </ng-container>
  
              <!-- Name Column -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
              </ng-container>
  
              <!-- Weight Column -->
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Cant. </th>
                <td mat-cell *matCellDef="let element" style="text-align: center" > {{element.quantity}} </td>
              </ng-container>
  
              <!-- Symbol Column -->
              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Total </th>
                <td mat-cell *matCellDef="let element"> {{element.total | currency:2:'Q'}} </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" [class.pair]="i % 2 !== 0" [class.impair]="(i % 2) === 0"></tr>
            </table>
          </div>

          <div class="m-c-total">
            <h1>Total: {{ genTotal() | currency:0:'Q' }}</h1>
          </div>

        </div>

        <div class="m-c-button-pay">
          <button mat-flat-button color="warn">
            Facturar
          </button>
        </div>

        <button
          mat-fab color="accent"
          (click)="openDialog()"
          class="float-button"
          >
          +
        </button>


      </div>
    </mat-card>
  </div>

</div>
