<div class="app-container" >

  <div class="container-sale-register" *ngIf="!loadingClients" >
    <mat-card class="card-sale-reg">
      <div class="container-card-el">


        <app-title-bar [title]="'Registrar Venta'"></app-title-bar>

        <div class="m-c-clients-detail">

          <span>Cliente: </span>

          <mat-form-field>

            <mat-select [value]="order.client.name">
              <mat-option (click)="changeClient(client)" *ngFor="let client of clients" [value]="client.name">
                {{client.name}}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </div>



        <div class="m-c-table-products">

          <div class="m-c-table">


            <div class="table-titles">
              <div class="table-title" *ngFor="let columns of columns" >{{columns}}</div>
            </div>

            <div class="container-rows">

              <div
                class="table-rows"
                *ngFor="let item of dataSource; let i = index"
                [class.pair]="i % 2 === 0"
                [class.impair]="i % 2 !== 0"
                >
  
                <span >{{item.sku}}</span>
                <span >{{item.description}}</span>
                <span class="center" >{{item.quantity}}</span>
                <span >{{item.subTotal() | currency:0:'Q'}}</span>
  
              </div>

            </div>


          </div>

          <div class="m-c-total">
            <h1>Total: {{ genTotal() | currency:0:'Q' }}</h1>
          </div>

        </div>



        <div class="m-c-button-pay">
          <button mat-flat-button color="warn" [disabled]="!genTotal()" (click)="billing()" >
            Facturar
          </button>
        </div>

        <button
          mat-fab color="accent"
          (click)="openDialog()"
          class="float-button"
          >
          +
        </button>


      </div>
    </mat-card>
  </div>

  <app-form-add-product
    *ngIf="activeDialog"
    (evsAddProduct)="addProduct($event)"
    (evsCloseDialog)="closeDialog($event)"
    >
  </app-form-add-product>

  <app-billing
    (evsClose)="closeDialogBill($event)"
    (evsPay)="registerSale($event)"
    *ngIf="bill"
    [total]="genTotal()"
    >
  </app-billing>

  <app-spinner *ngIf="awaitBill"></app-spinner>  

</div>

